#nav{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    background-color: white;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0px;
}
#nav>div:nth-child(2){
    display: flex;
    margin-left: 100px;
    margin-right: 150px;
}
#nav>div:nth-child(2)>div{
    margin-right: 30px;
    color: grey;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


#nav>div:nth-child(3)>button{
    margin-right: 20px;
    padding: 10px 20px;
    background-color:white;
    color: rgb(17, 91, 228);
    font-size: 15px;
    border: 1px solid rgb(17, 91, 228);
    border-radius: 20px;
}
#nav>div:nth-child(3)>button+button{
    margin-right: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    margin-right: 70px;
}

#nav>div:nth-child(4){

    font-size: 18px;
    color: grey;
    font-weight: bold;
    margin-top: 10px;
}

         /*  drop down menu  */

.drop_menu{
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 150px;
    z-index: 1;
   
    
}

.drop_menu a:hover{
    background-color: rgb(30, 128, 226);
   
}

#emp:hover  .drop_menu,#ser:hover  .drop_menu,#comp:hover  .drop_menu,#job:hover  .drop_menu,#res:hover  .drop_menu{
    display: block;
    display: grid;
    margin-top: 10px;
    
}
.drop_menu a{
    margin-bottom: 20px;
    text-decoration: 0px;
    padding: 2px 10px 2px 15px;
   
    
}
#search{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    margin: auto;
    border-radius: 50px;
}
#search input:nth-child(1){
    font-size: 15px;
    padding: 15px 0px;
    width: 250px;
    margin-left: 25px;
    margin-right: 35px;
    padding-left: 20px;
    border: none;
}
#search input:nth-child(3){
    font-size: 15px;
    padding: 25px 0px;
    width: 250px;
    margin-right: 35px;
    padding-left: 20px;
    border: none;
}
#search select{
    font-size: 15px;
    padding: 25px 0px;
    width: 250px; 
    margin-right: 35px;
    padding-left: 20px;
    border: none;
}
#search input:last-child{
    font-size: 15px;
    padding: 20px 0px;
    width: 150px; 
    border-radius: 50px;
    background-color: rgb(22, 84, 227);
    color: white;
    border: 0px;
}

#nav+h1 {
    text-align: center;
    margin-top: 100px;
}
#nav+h1+h3{
    text-align: center;
    color: grey;
    margin-bottom: 40px;
    margin-top: -15px;
}
#regis{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

#regis>div:nth-child(1){
margin-top: 20px;
margin-left: 20px;
}
#regis>div:nth-child(1)>img{
 border-radius: 50%;
 border: 1px solid lightgray;
}
#regis>div:nth-child(2){
    margin-left: 20px;
}
#regis>div:nth-child(2)>p{
    color: grey;
    margin-top: -20px;
}
#regis>div:nth-child(3){
    margin-left: 20px;
    margin-top: 20px;
    

}
#regis>div:nth-child(3)>button{
    width: 150px;
    background-color: rgb(232, 131, 54);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    padding: 15px 5px;
    border-radius: 30px;
    border: none;
}
#regis>div:nth-child(3)>button>a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}
h1{
    text-align: center;
}
#trend{
    display: flex;
}
#trend>div{
    margin-left: 20px;
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 150px;
    text-align: center;
}
#trend>div:first-child{
    margin-left: 200px;
}
#trend>div>p{
    margin-top: -15px;
    margin-bottom: 20px;
    color: grey;
}
#trend>div>img{
    margin-top: 10px;
}
#hiri{
   
    display: flex;
}
#hiri>div{
    width: 22%;
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 10px;
    text-align: center;
}
#hiri>div>p{
    margin-top: -10px;
    color: grey;
}
#hiri>div>div{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}
#hiri>div>div>img{
    width: 50px;
    margin-right: 4px;
}
#disc{
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
}
#disc>#L_disc{
    width: 30%;
    background-color: rgb(235, 230, 220);
    margin-left: 80px;
    border-radius: 20px;
    margin-top: 50px;
   
}
#disc>#L_disc>p{
    font-size: 18px;
    color: grey;
    margin-left: 50px;
    margin-bottom: 50px;
}
#disc>#L_disc>h1{
 margin-left: 50px;
 text-align: left;
}
#disc>#L_disc>img{
    width: 30%;
    margin: 30px 0px -15px 50px;
    
}
#disc>#R_disc{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;
 width: 45%;
 padding: 10px 20px;
 margin-left: 80px;
}
#R_disc>div{
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    text-align: left;
    padding-left: 40px;
}
#R_disc>div p{
    color: grey;
    margin-top: -15px;
}
#btn{
   margin-left: 250px;
}
#btn>button{
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
}
#spon{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin-top: 50px;
}
#spon>div{
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#spon img{
    width: 30%;
}
#spon h4{
    margin-top: -3px;
    margin-bottom: -7px;
}
#spon p{
    color: grey;
    font-size: 12px;
    
}
#spon h4+p+p{
    margin-top: -5px;
    margin-bottom: -8px;
}
#ques{
    display: flex;
    margin-top: 50px;

}
#ques> #l_ques{
   
    width: 25%;
    text-align: left;
    margin-left: 30px;
    margin-top: 80px;
}
#l_ques img{
    width: 70%;
    margin-left: 30px;
}
#l_ques div{
    display: inline;
    background-color: aliceblue;
    padding: 5px 10px;
    color: blue;
    font-size: 12px;
    border: 1px solid lightblue;
    margin-left: 40px;
    
}
#l_ques h1{
    text-align: left;
    margin-left: 30px;
}
#m_ques{
    width: 40%;
    margin-left: 50px;
}
#m_ques h2{
    margin-left: 40px;
}
#mid_ques{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;  
}


#mid_ques>div{
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
}
#mid_ques>div>div:nth-child(1)>img{
    width: 35%;
    margin-top: 20px;
    margin-left: 40px;
}

#mid_ques>div> div:nth-child(2){
 
 margin-left: -18px;
}
#mid_ques>div> div:nth-child(2)>h4{
 font-size: 18px;
}
#mid_ques>div> div:nth-child(2)>p{
    color: grey;
    margin-top: -15px;
    font-size: 13px;
}

#mid_ques span{
    color: blue;
    margin-left: 120px;
    padding-left: 30px;
    width: 70%;
}

#r_ques{
    margin-left: 40px;
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#r_ques>h2{
    margin-left: 25px;
    margin-right: 5px;
}
#r_ques>p{
    margin-left: 30px;
}
#r_ques>hr{
    width: 70%;
}
#foot{
   
    margin-top: 30px;
    display: flex;
}
#l_foot{
    margin-left: 50px;
    padding-top: 20px;
    
}
#m_foot{
    margin-left: 90px;
    padding-top: 20px;
}

 #m_foot>div{
    display: flex;
    
    margin-top: 5px;
    margin-bottom: 10px;
}
#m_foot>div>div{
    margin-right: 90px; 
    text-align: center;
   
    color: grey;
}
#r_foot{
    margin-left: 30px;
    padding: 0px 20px;
}

#r_foot>div{
    display: flex;
}

#ques+hr{
 width: 95%;
 margin-top: 30px;
}
#last{
    display: flex;
    margin-top: 20px;
}
#last>div:nth-child(1){
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
}
#last>div>h1{
    font-size: 25px;
}
#last>div:nth-child(2){
color: grey;
margin-right: 15px;

}
#last>div:nth-child(2)>p+p{
    margin-top: -13px;
}
#last>div:nth-child(3){
    margin-top: 10px;
}
#last>div:nth-child(4){
    margin-top: 10px;
    margin-right: 20px;
}
#last>div:nth-child(4)>img{
    margin-right: -5px;
}
#scan{
    display: flex;
}

#l_scan{
    width: 70%;
    
}
#l_scan>div>p+div{
    display: block;
   
    width: 85%;
}
#l_scan>div>p+div>input{
    padding: 10px 15px;
    font-size: 15px;
    color: grey;
    margin-left: 20px;
    border-radius: 20px;
    border: 0px;
}
#l_scan>div>p+div>button{
    background-color: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    border: 0px;
}
#l_scan>div>p+div+div{
    
    width: 60%;
    margin-top: 20px;
    margin-left: 25px;
}
#l_scan>div{
    
    width: 40%;
    height: 250px;
    margin-left: 50px;
    margin-top: -15px;
    
}
#l_scan>div:nth-child(1){
    
    width: 550px;
    
}
#l_scan>div:nth-child(1)>p{
   color: grey;
   margin-left: 20px;
}
#l_scan>div:nth-child(1)>input{
 width: 20px;
}
#l_scan{
    display: flex;
}

#l_scan>div:last-child img{
  
  width: 55% ;
  
}
#pan_head{
    width: 35%;
    font-size: 30px;
    text-align: start;
    margin-left: 80px;
    margin-top: 50px;
    
}
#scan{
    display: flex;
    margin-top: 50px;
}
#r_scan{
    margin-top: -200px;
}